/* Empty. Add your own CSS if you like */

.item-image {
	width: 81%;
}

.image-holder {
	margin: 0 auto !important;
}

.addUserIcon {
	font-size: 3em;
    position: absolute;
    right: 6%;
    top: 45%;
    cursor: pointer;
}
