<div class="logincard">
  <div class="field">
    <span class="header">Login</span>
    <div class="form-group">
      <input type="email" ng-model="authCtrl.user.email" required="required" />
      <label for="input" class="control-label">Email</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="password" ng-model="authCtrl.user.password" required="required" />
      <label for="input" class="control-label">Password</label><i class="bar"></i>
    </div>
    <div class="button-container">
      <button type="button" ng-click="authCtrl.login()" class="button"><span>Submit</span></button>
    </div>
  </div>
  <div class="fab">
    <i class="zmdi zmdi-account-add"></i>
    <div class="field">
      <span class="header">Register</span>
      <div class="form-group">
        <input type="text" required="required" />
        <label for="input" class="control-label">Name</label><i class="bar"></i>
      </div>
      <div class="form-group">
        <input type="password" required="required" />
        <label for="input" class="control-label">Password</label><i class="bar"></i>
      </div>
      <div class="form-group">
        <input type="password" required="required" />
        <label for="input" class="control-label">Password again</label><i class="bar"></i>
      </div>
      <div class="button-container">
        <button type="button" class="button"><span>Submit</span></button>
      </div>
    </div>
  </div>
</div>