
  <ion-content>
    <md-content>
      <md-card class="fullMovieCard">
        <md-card-title>
          <h3>{{ movieCardInfo.Title }} ({{movieCardInfo.Year}})</h3>
        </md-card-title>
        <div class="movieInfo" layout="row" layout-align="space-around center">
            <div>{{movieCardInfo.Year}}</div>
            <div>{{movieCardInfo.Runtime}}</div>
            <div>{{movieCardInfo.Genre}}</div>
        </div>
        <div class="movieDesc" layout="row" layout-align="space-between center">
          <!-- <div class="moviePlot"><p>{{movieCardInfo.Plot}}</p></div> -->
          <div class="moviePoster">
            <md-media-lg>
              <img src="{{movieCardInfo.Poster}}">
            </md-media-lg>
          </div>
        </div>
      </md-card>
    </md-content>
  </ion-content>


<!--   <ion-content>

    <div class="list card">
      <div class="image-holder item item-image">
        <img src="{{ movieCardInfo.Poster}}" width="200" height="380">
      </div>

      <div class="item">
        <span style="float: left">
          <img src="img/imdbmod.png" width="39" height="25">
          <span><h1>{{movieCardInfo.imdbRating}}</h1></span>
        </span>
        <!-- <span style="float: right" ng-if="movieCardInfo.tomatoImage === 'certified' || movieCardInfo.tomatoImage === 'fresh'"> -->
<!--          <span style="float: right" ng-if="movieCardInfo.tomatoImage !== 'rotten'">
          <img src="img/certified.png" width="25" height="25">
          <span><h1>{{movieCardInfo.tomatoMeter}} %</h1></span>
        </span> 
        <span style="float: right" ng-if="movieCardInfo.tomatoImage === 'rotten'">
          <img src="img/rotten.png" width="25" height="25">
          <span><h1>{{movieCardInfo.tomatoMeter}} %</h1></span>
        </span> 
      </div>
      <div class="item" style="margin: 5px 15px 5px 15px">
        <span style="float: left; cursor: pointer;" ng-click="searchCtrl.shareMovie();">
          <i class="icon ion-heart-broken" style="font-size: 48px; color: #575656"></i>
        </span>
        <span style="float: right; cursor: pointer" ng-click="searchCtrl.shareMovie(movieCardInfo);">
          <i class="icon ion-heart" style="font-size: 48px; color: rgba(255, 52, 52, 0.98)"></i>
        </span>
      </div>
    </div>
  </ion-content> --> -->