
  <ion-content>
    <md-content>
      <md-card class="fullMovieCard">
        <md-card-title>
          <h3>{{ movieCardInfo.Title }} ({{movieCardInfo.Year}})</h3>
        </md-card-title>
        <div class="movieInfo" layout="row" layout-align="space-around center">
            <div>{{movieCardInfo.Year}}</div>
            <div>{{movieCardInfo.Runtime}}</div>
            <div>{{movieCardInfo.Genre}}</div>
        </div>
        <div layout="row" layout-align="space-between center">
            <div class="fullMoviePlot">
               <div class="movieText">
                <p class="moviePlot">{{movieCardInfo.Plot}}</p>
                <p class="movieDetails">Director: {{movieCardInfo.Director}}</p>
              </div>
              <div class="ratings" layout="row" layout-align="space-around center">
                <div layout="column" layout-align="center">
                  <div class="imdb">
                    <img src="../img/imdbmod.png">
                  </div>
                  <div class="ratingnumber" style="margin-top: 22px;">
                    <p>{{movieCardInfo.imdbRating}}</p>
                  </div>
                </div>
                <div layout="column" layout-align="center">
                  <div class="rotten">
                    <img src="../img/certified.png">
                  </div>
                  <div class="ratingnumber">
                    <p>{{movieCardInfo.tomatoMeter}}</p>
                  </div>
                </div>
                <div layout="column" layout-align="center">
                  <div class="metacritic">
                    <img src="../img/metacritic.png">
                  </div>
                  <div class="ratingnumber">
                    <p>{{movieCardInfo.Metascore}}</p>
                  </div>
                </div>
            </div>
            </div>
            <div class="moviePoster" layout="column" layout-align="center">
                <md-media-lg>
                  <img src="{{movieCardInfo.Poster}}">
                </md-media-lg>
            </div>
        </div>
        <div layout="row" layout-align="space-between center">
            <div class="actionButton">
              <md-card-actions class="shareMovie" layout="row">
                <md-button class="md-raised hatebutton">HATED IT!!</md-button>
              </md-card-actions>
            </div>
            <div class="actionButton">
              <md-card-actions class="shareMovie" layout="row">
                <md-button ng-click="searchCtrl.shareMovie(movieCardInfo);" class="md-raised">LOVED IT!!</md-button>
              </md-card-actions>
            </div>
        </div>
        <div class="addComment" layout="row">
          <md-input-container>
              <input type="text" placeholder="Say something.....">
          </md-input-container>
        </div>
      </md-card>
    </md-content>
  </ion-content>


<!--   <ion-content>

    <div class="list card">
      <div class="image-holder item item-image">
        <img src="{{ movieCardInfo.Poster}}" width="200" height="380">
      </div>

      <div class="item">
        <span style="float: left">
          <img src="img/imdbmod.png" width="39" height="25">
          <span><h1>{{movieCardInfo.imdbRating}}</h1></span>
        </span>
        <!-- <span style="float: right" ng-if="movieCardInfo.tomatoImage === 'certified' || movieCardInfo.tomatoImage === 'fresh'"> -->
<!--          <span style="float: right" ng-if="movieCardInfo.tomatoImage !== 'rotten'">
          <img src="img/certified.png" width="25" height="25">
          <span><h1>{{movieCardInfo.tomatoMeter}} %</h1></span>
        </span> 
        <span style="float: right" ng-if="movieCardInfo.tomatoImage === 'rotten'">
          <img src="img/rotten.png" width="25" height="25">
          <span><h1>{{movieCardInfo.tomatoMeter}} %</h1></span>
        </span> 
      </div>
      <div class="item" style="margin: 5px 15px 5px 15px">
        <span style="float: left; cursor: pointer;" ng-click="searchCtrl.shareMovie();">
          <i class="icon ion-heart-broken" style="font-size: 48px; color: #575656"></i>
        </span>
        <span style="float: right; cursor: pointer" ng-click="searchCtrl.shareMovie(movieCardInfo);">
          <i class="icon ion-heart" style="font-size: 48px; color: rgba(255, 52, 52, 0.98)"></i>
        </span>
      </div>
    </div>
  </ion-content> --> -->