<ion-view>
	<ion-content>
		<label class="item item-input">
		  <input type="search" placeholder="Search" ng-model="searchCtrl.searchKey" ng-keyup="searchCtrl.search();">
		</label>
		<div id="dialogContainer">
		</div>
		<md-content>
			<md-list flex>
				<md-list-item ui-sref="moviecard" ng-repeat="movie in searchCtrl.movieList" on-tap="searchCtrl.taptest(movie);" class="md-3-line searchMovie">
					<div layout="row" class="md-list-item-text">
						<div>
			            	<img src="{{movie.Poster}}" width="50" height="50">
			            </div>
			            <div class="thumbnailText">
			            	<h3>{{ movie.Title }}</h3>
			            	<p>({{movie.Year}})</p>
			            </div>
			        </div>
				</md-list-item>
			</md-list>
		</md-content>
		<ion-list ng-if="searchCtrl.noResults">
			<ion-item>No Results Found</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
<ion-footer>
  	<div class="footerTabs tabs-striped tabs-icon-top">
	    <div class="tabs">
	        <a class="tab-item active" href="#/channels">
	            <i class="icon ion-android-people"></i> Chats
	        </a>
	        <a class="tab-item" href="#/lists">
	            <i class="icon ion-ios-heart-outline"></i> Favorites
	        </a>
	        <a class="tab-item" href="#/search">
	            <i class="icon ion-ios-search"></i> Search
	        </a>
	    </div>
	</div>
</ion-footer>